<!-- <p>product-pagination works!</p> -->
<div>
  <app-product-card class="d-inline-block" *ngFor="let product of productListPagination | slice: 0:5"
    [product]="product">
  </app-product-card>



  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <app-product-card class="d-inline-block" *ngFor="let product of productListPagination | slice: 0:5"
          [product]="product">
        </app-product-card>

      </div>
      <div class="carousel-item">

        <app-product-card class="d-inline-block" *ngFor="let product of productListPagination | slice: 5:10"
          [product]="product">
        </app-product-card>

      </div>
      <div class="carousel-item">
        <app-product-card class="d-inline-block" *ngFor="let product of productListPagination | slice: 15:20"
          [product]="product">
        </app-product-card>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

</div>
