.product_list--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.product_list--item {
  justify-self: center;
  align-self: center;
}

@media (max-width: 1024px) {
  .product_list--container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .product_list--container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 570px) {
  .form-group {
    width: 160px !important;
  }

  .col-4 {
    max-width: 80% !important;
  }

  .input_container {
    width: 360px !important;
  }

  .col-8 {
    max-width: 100% !important;
  }
}

.select_container {
  text-align: start;

  .select {
    display: inline-block;
    width: auto;
    margin-right: .5rem;
  }
}
