<!-- <p>product-card works!</p> -->
<div class="card" style="width: 12rem; height: 100%">
  <img src="{{ product.image }}" class="card-img-top" alt="...">
  <!-- <img src="./assets/pictures/1.jpg" class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title card-name">{{ product.name }}</h5>
    <p class="card-text card-description">{{ product.description }}</p>
    <p class="card-text card-price">Price: {{ product.price }}</p>
    <p class="card-text card-stock">Stock: {{ product.stock }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
