.card-name {
  height: 3rem;
  color: #3dd8fc;
}

.card-description {
  height: 4em;
  color: #ffe045;
}

.card-price,
.card-stock {
  height: 1rem;
  color: #ffbdf3;


  .card-body {
    text-align: center;

  }
}
