<h1>Editor of all cocktails</h1>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Category ID:</th>
        <th>Name:</th>
        <th>Description:</th>
        <th>Image:</th>
        <th>Price:</th>
        <th>Stock:</th>
        <th>Is it featured?</th>
        <th>Is it active?</th>
        <th>Operations on the product</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of products$ | async">
          <td class="idShow">{{ item.id }}</td>
          <td> <input [(ngModel)]="item.name" type="text" class="form-control" name="name" id="name-id"></td>
          <td> <input [(ngModel)]="item.catId" type="text" class="form-control" name="catId" id="cat-id"></td>
          <td> <input [(ngModel)]="item.description" type="text" class="form-control" name="description"
              id="description-id"></td>
          <td> <input [(ngModel)]="item.image" type="image" class="form-control" name="image" id="image-id"></td>
          <td> <input [(ngModel)]="item.price" type="text" class="form-control" name="price" id="price-id"></td>
          <td> <input [(ngModel)]="item.stock" type="text" class="form-control" name="stock" id="stock-id"></td>
          <td> <input [(ngModel)]="item.featured" type="checkbox" class="form-control" name="featured" id="featured-id">
          </td>
          <td> <input [(ngModel)]="item.active" type="checkbox" class="form-control" name="active" id="active-id"></td>

          <td>
            <button class="btn-primary"><i class="fa fa-address-card" aria-hidden="true"></i></button>
            <button class="btn-success"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn-danger"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>