<div class="logo">
  <img src="/assets/pictures/Take5Logo.png" alt="mid-logo" width="300" height="300">
</div>
<!-- <app-product-card></app-product-card> -->
<app-product-carousel [id]="'carousel-featured'" [products$]="products$" [products]="products$ | async | filter: 'true':'featured'"></app-product-carousel>
<app-product-carousel [title]="'Now at discounted price'" [id]="'carousel-active'" [products$]="products$" [products]="products$ | async | filter: 'true':'active'"></app-product-carousel>
