<nav class="navbar navbar-custom navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/pictures/take5LittleLogo.png" alt="" width="100" height="100"
      class="d-inline-block align-text-top">
    <span class="company_name"> Take Five Club Cocktails & Refreshments</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of menuItems" class="nav-item">
        <a class="nav-link text-white" [routerLink]="item.link">{{ item.text }}</a>
      </li>
    </ul>
  </div>
</nav>
