@media (max-width: 490px) {
  .company_name {
    display: none;
  }
}

.company_name {
  background-color: #16397a;
  color: rgb(194, 174, 66);
  padding-left: 1rem;
}

.navbar {
  opacity: 95%;
}

.nav-item {
  background-color: #153879;
}

#nav-links {
  color: rgb(203, 109, 192);
  border: 1px solid rgb(194, 174, 66);
  border-radius: 10px;
  padding-right: 0.5rem;
  margin: 2rem;
  font-weight: bold;
  transition: text-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#nav-links:hover {
  box-shadow: inset 0 -5px 0 0 rgba(148, 49, 140, 0.15), 0 5px 11px rgba(148, 133, 49, 0.2), 0 4px 11px rgba(148, 133, 49, 0.2);
}

#navbarSupportedContent {
  background-color: #16397a;
}

#top-logo {
  margin: 0.5rem;
  border: 1px solid rgb(203, 109, 192);
  border-radius: 10px;
}


.btn-danger {
  background-color: #e52923;
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 -5 0 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  font: 1rem/1.5 Arial, Helvetica, sans-serif;
  padding: 0.5rem 1rem;
  user-select: none;
  transition: text-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  white-space: nowrap;
}
.btn-danger:hover {
  background-color: #c03a2a;
  cursor: pointer;
  text-shadow: 0 0 1px #fff;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15), 0 5px 11px rgba(0, 0, 0, 0.2), 0 4px 11px rgba(0, 0, 0, 0.2);
}
